/atPlay01/target/
/mooc-java-programming-ii/part09-Part09_06.InterfaceInABox/target/
/mooc-java-programming-ii/part10-Part10_08.Weighting/target/
/mooc-java-programming-ii/part10-Part10_10.BooksFromFile/target/
/mooc-java-programming-ii/part10-Part10_13.LiteracyComparison/target/
/mooc-java-programming-ii/part10-Part10_14.Literature/target/